.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}
@media (min-width: 480px) {
    .container {
        max-width: 480px
    }
}
@media (min-width: 600px) {
    .container {
        max-width: 600px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}
@media (min-width: 782px) {
    .container {
        max-width: 782px
    }
}
@media (min-width: 960px) {
    .container {
        max-width: 960px;
        padding-right: 0rem;
        padding-left: 0rem
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px
    }
}
.visible {
    visibility: visible
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.bottom-0 {
    bottom: 0px
}
.bottom-10 {
    bottom: 2.5rem
}
.bottom-4 {
    bottom: 1rem
}
.left-0 {
    left: 0px
}
.left-10 {
    left: 2.5rem
}
.right-0 {
    right: 0px
}
.right-20 {
    right: 5rem
}
.right-8 {
    right: 2rem
}
.top-0 {
    top: 0px
}
.top-20 {
    top: 5rem
}
.-z-10 {
    z-index: -10
}
.z-0 {
    z-index: 0
}
.z-10 {
    z-index: 10
}
.z-30 {
    z-index: 30
}
.z-40 {
    z-index: 40
}
.z-50 {
    z-index: 50
}
.m-8 {
    margin: 2rem
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-12 {
    margin-bottom: 3rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mb-8 {
    margin-bottom: 2rem
}
.mt-10 {
    margin-top: 2.5rem
}
.mt-auto {
    margin-top: auto
}
.flex {
    display: flex
}
.grid {
    display: grid
}
.hidden {
    display: none
}
.aspect-\[1\/1\] {
    aspect-ratio: 1/1
}
.aspect-\[16\/9\] {
    aspect-ratio: 16/9
}
.aspect-\[9\/16\] {
    aspect-ratio: 9/16
}
.h-1 {
    height: 0.25rem
}
.h-1\/5 {
    height: 20%
}
.h-3\/5 {
    height: 60%
}
.h-4\/5 {
    height: 80%
}
.h-\[110vh\] {
    height: 110vh
}
.h-\[750px\] {
    height: 750px
}
.h-full {
    height: 100%
}
.h-screen {
    height: 100vh
}
.min-h-screen {
    min-height: 100vh
}
.w-0 {
    width: 0px
}
.w-1\/12 {
    width: 8.333333%
}
.w-1\/2 {
    width: 50%
}
.w-1\/3 {
    width: 33.333333%
}
.w-1\/4 {
    width: 25%
}
.w-1\/5 {
    width: 20%
}
.w-10 {
    width: 2.5rem
}
.w-16 {
    width: 4rem
}
.w-2 {
    width: 0.5rem
}
.w-2\/5 {
    width: 40%
}
.w-28 {
    width: 7rem
}
.w-3\/4 {
    width: 75%
}
.w-3\/5 {
    width: 60%
}
.w-6 {
    width: 1.5rem
}
.w-\[110vw\] {
    width: 110vw
}
.w-\[28rem\] {
    width: 28rem
}
.w-full {
    width: 100%
}
.w-screen {
    width: 100vw
}
.max-w-sm {
    max-width: 24rem
}
.flex-grow {
    flex-grow: 1
}
.-translate-x-20 {
    --tw-translate-x: -5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-x-4 {
    --tw-translate-x: -1rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-y-10 {
    --tw-translate-y: -2.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-y-20 {
    --tw-translate-y: -5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-y-40 {
    --tw-translate-y: -10rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-y-\[100vh\] {
    --tw-translate-y: -100vh;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-x-20 {
    --tw-translate-x: 5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-x-\[100vw\] {
    --tw-translate-x: 100vw;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-10 {
    --tw-translate-y: 2.5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-12 {
    --tw-translate-y: 3rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-20 {
    --tw-translate-y: 5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-pointer {
    cursor: pointer
}
.list-decimal {
    list-style-type: decimal
}
.list-disc {
    list-style-type: disc
}
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}
.flex-row {
    flex-direction: row
}
.flex-row-reverse {
    flex-direction: row-reverse
}
.flex-col {
    flex-direction: column
}
.items-start {
    align-items: flex-start
}
.items-end {
    align-items: flex-end
}
.items-center {
    align-items: center
}
.justify-start {
    justify-content: flex-start
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.gap-1 {
    gap: 0.25rem
}
.gap-10 {
    gap: 2.5rem
}
.gap-2 {
    gap: 0.5rem
}
.gap-20 {
    gap: 5rem
}
.gap-4 {
    gap: 1rem
}
.gap-x-40 {
    -moz-column-gap: 10rem;
         column-gap: 10rem
}
.gap-y-52 {
    row-gap: 13rem
}
.overflow-hidden {
    overflow: hidden
}
.rounded {
    border-radius: 0.25rem
}
.border-\[1px\] {
    border-width: 1px
}
.border-b {
    border-bottom-width: 1px
}
.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity))
}
.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))
}
.border-opacity-70 {
    --tw-border-opacity: 0.7
}
.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}
.bg-ds-grey {
    --tw-bg-opacity: 1;
    background-color: rgb(129 119 105 / var(--tw-bg-opacity))
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.bg-opacity-10 {
    --tw-bg-opacity: 0.1
}
.bg-opacity-40 {
    --tw-bg-opacity: 0.4
}
.bg-opacity-60 {
    --tw-bg-opacity: 0.6
}
.bg-cover {
    background-size: cover
}
.bg-center {
    background-position: center
}
.stroke-white {
    stroke: #fff
}
.p-2 {
    padding: 0.5rem
}
.p-20 {
    padding: 5rem
}
.p-4 {
    padding: 1rem
}
.p-40 {
    padding: 10rem
}
.p-8 {
    padding: 2rem
}
.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.px-32 {
    padding-left: 8rem;
    padding-right: 8rem
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.px-40 {
    padding-left: 10rem;
    padding-right: 10rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}
.pb-20 {
    padding-bottom: 5rem
}
.pb-40 {
    padding-bottom: 10rem
}
.pl-12 {
    padding-left: 3rem
}
.pl-14 {
    padding-left: 3.5rem
}
.pt-20 {
    padding-top: 5rem
}
.pt-4 {
    padding-top: 1rem
}
.text-start {
    text-align: start
}
.text-end {
    text-align: end
}
.font-agencyfb {
    font-family: AgencyFB, sans-serif
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
.text-5xl {
    font-size: 3rem;
    line-height: 1
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-xl {
    font-size: 1.25rem
}
.font-bold {
    font-weight: 700
}
.font-extrabold {
    font-weight: 800
}
.font-light {
    font-weight: 300
}
.font-semibold {
    font-weight: 600
}
.uppercase {
    text-transform: uppercase
}
.leading-tight {
    line-height: 1.25
}
.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity))
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.underline {
    text-decoration-line: underline
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.opacity-0 {
    opacity: 0
}
.backdrop-blur-lg {
    --tw-backdrop-blur: blur(16px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.duration-300 {
    transition-duration: 300ms
}
.duration-500 {
    transition-duration: 500ms
}
.duration-700 {
    transition-duration: 700ms
}
.alignfull {
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw
}
.alignwide {
    margin: 2rem 0;
    max-width: 1280px !important
}
.alignnone {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%
}
.aligncenter {
    margin: 0.5rem auto;
    display: block
}
@media (min-width: 600px) {
    .alignleft:not(.wp-block-button) {
        margin-right: 0.5rem;
        float: left
    }
    .alignright:not(.wp-block-button) {
        margin-left: 0.5rem;
        float: right
    }
    .wp-block-button.alignleft a {
        float: left;
        margin-right: 1rem
    }
    .wp-block-button.alignright a {
        float: right;
        margin-left: 1rem
    }
}
.wp-caption {
    display: inline-block
}
.wp-caption img {
    margin-bottom: 0.5rem;
    line-height: 1
}
.wp-caption-text {
    font-size: 0.875rem;
    color: #4b5563
}
body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.wp-block {
    max-width: 1280px
}
.wp-block[data-align=wide] {
    max-width: 1280px
}
.wp-block[data-align=full] {
    max-width: 100%
}
.hover\:gap-3:hover {
    gap: 0.75rem
}
.hover\:bg-black:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}
.hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.hover\:bg-opacity-100:hover {
    --tw-bg-opacity: 1
}
.hover\:bg-opacity-50:hover {
    --tw-bg-opacity: 0.5
}
.hover\:bg-opacity-70:hover {
    --tw-bg-opacity: 0.7
}
.hover\:font-agencyfb:hover {
    font-family: AgencyFB, sans-serif
}
.hover\:text-black:hover {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}
.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.hover\:shadow-xl:hover {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.hover\:backdrop-blur-xl:hover {
    --tw-backdrop-blur: blur(24px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
@media (min-width: 782px) {
    .md\:my-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem
    }
    .md\:flex {
        display: flex
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}
@media (min-width: 960px) {
    .lg\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
}
