.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}
@media (min-width: 480px) {
    .container {
        max-width: 480px
    }
}
@media (min-width: 600px) {
    .container {
        max-width: 600px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}
@media (min-width: 782px) {
    .container {
        max-width: 782px
    }
}
@media (min-width: 960px) {
    .container {
        max-width: 960px;
        padding-right: 0rem;
        padding-left: 0rem
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px
    }
}
.visible {
    visibility: visible
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.bottom-2 {
    bottom: 0.5rem
}
.bottom-8 {
    bottom: 2rem
}
.left-0 {
    left: 0px
}
.right-2 {
    right: 0.5rem
}
.right-20 {
    right: 5rem
}
.top-0 {
    top: 0px
}
.top-20 {
    top: 5rem
}
.-z-10 {
    z-index: -10
}
.z-0 {
    z-index: 0
}
.z-10 {
    z-index: 10
}
.z-30 {
    z-index: 30
}
.z-40 {
    z-index: 40
}
.z-50 {
    z-index: 50
}
.m-8 {
    margin: 2rem
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-12 {
    margin-bottom: 3rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mb-8 {
    margin-bottom: 2rem
}
.mt-10 {
    margin-top: 2.5rem
}
.mt-auto {
    margin-top: auto
}
.flex {
    display: flex
}
.grid {
    display: grid
}
.hidden {
    display: none
}
.aspect-\[1\/1\] {
    aspect-ratio: 1/1
}
.aspect-\[3\/4\] {
    aspect-ratio: 3/4
}
.h-1 {
    height: 0.25rem
}
.h-2\/6 {
    height: 33.333333%
}
.h-4\/6 {
    height: 66.666667%
}
.h-96 {
    height: 24rem
}
.h-\[110vh\] {
    height: 110vh
}
.h-\[500px\] {
    height: 500px
}
.h-fit {
    height: -moz-fit-content;
    height: fit-content
}
.h-full {
    height: 100%
}
.h-screen {
    height: 100vh
}
.min-h-screen {
    min-height: 100vh
}
.w-0 {
    width: 0px
}
.w-1\/2 {
    width: 50%
}
.w-1\/6 {
    width: 16.666667%
}
.w-16 {
    width: 4rem
}
.w-2 {
    width: 0.5rem
}
.w-2\/3 {
    width: 66.666667%
}
.w-20 {
    width: 5rem
}
.w-3\/4 {
    width: 75%
}
.w-4 {
    width: 1rem
}
.w-4\/5 {
    width: 80%
}
.w-6 {
    width: 1.5rem
}
.w-80 {
    width: 20rem
}
.w-\[110vw\] {
    width: 110vw
}
.w-full {
    width: 100%
}
.w-1\/5 {
    width: 20%
}
.w-1\/4 {
    width: 25%
}
.max-w-sm {
    max-width: 24rem
}
.flex-grow {
    flex-grow: 1
}
.-translate-y-\[100vh\] {
    --tw-translate-y: -100vh;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-x-\[100vw\] {
    --tw-translate-x: 100vw;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-pointer {
    cursor: pointer
}
.list-decimal {
    list-style-type: decimal
}
.list-disc {
    list-style-type: disc
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
.flex-row {
    flex-direction: row
}
.flex-col {
    flex-direction: column
}
.flex-col-reverse {
    flex-direction: column-reverse
}
.flex-wrap {
    flex-wrap: wrap
}
.items-start {
    align-items: flex-start
}
.items-end {
    align-items: flex-end
}
.items-center {
    align-items: center
}
.justify-start {
    justify-content: flex-start
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.gap-1 {
    gap: 0.25rem
}
.gap-10 {
    gap: 2.5rem
}
.gap-2 {
    gap: 0.5rem
}
.gap-20 {
    gap: 5rem
}
.gap-4 {
    gap: 1rem
}
.gap-6 {
    gap: 1.5rem
}
.gap-8 {
    gap: 2rem
}
.overflow-hidden {
    overflow: hidden
}
.overflow-x-hidden {
    overflow-x: hidden
}
.rounded {
    border-radius: 0.25rem
}
.border-\[1px\] {
    border-width: 1px
}
.border-b {
    border-bottom-width: 1px
}
.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity))
}
.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity))
}
.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}
.bg-ds-grey {
    --tw-bg-opacity: 1;
    background-color: rgb(129 119 105 / var(--tw-bg-opacity))
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.bg-opacity-10 {
    --tw-bg-opacity: 0.1
}
.bg-opacity-25 {
    --tw-bg-opacity: 0.25
}
.bg-opacity-40 {
    --tw-bg-opacity: 0.4
}
.bg-opacity-60 {
    --tw-bg-opacity: 0.6
}
.bg-cover {
    background-size: cover
}
.bg-bottom {
    background-position: bottom
}
.bg-center {
    background-position: center
}
.stroke-white {
    stroke: #fff
}
.p-10 {
    padding: 2.5rem
}
.p-2 {
    padding: 0.5rem
}
.p-4 {
    padding: 1rem
}
.p-6 {
    padding: 1.5rem
}
.p-8 {
    padding: 2rem
}
.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.pb-20 {
    padding-bottom: 5rem
}
.pb-40 {
    padding-bottom: 10rem
}
.pl-12 {
    padding-left: 3rem
}
.pt-10 {
    padding-top: 2.5rem
}
.pt-4 {
    padding-top: 1rem
}
.text-center {
    text-align: center
}
.text-start {
    text-align: start
}
.text-end {
    text-align: end
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}
.text-5xl {
    font-size: 3rem;
    line-height: 1
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-xl {
    font-size: 1.25rem
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.font-bold {
    font-weight: 700
}
.font-extrabold {
    font-weight: 800
}
.font-light {
    font-weight: 300
}
.font-semibold {
    font-weight: 600
}
.uppercase {
    text-transform: uppercase
}
.lowercase {
    text-transform: lowercase
}
.leading-tight {
    line-height: 1.25
}
.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity))
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.underline {
    text-decoration-line: underline
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.opacity-0 {
    opacity: 0
}
.opacity-80 {
    opacity: 0.8
}
.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.backdrop-blur-lg {
    --tw-backdrop-blur: blur(16px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.duration-300 {
    transition-duration: 300ms
}
.duration-500 {
    transition-duration: 500ms
}
.alignfull {
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw
}
.alignwide {
    margin: 2rem 0;
    max-width: 1280px !important
}
.alignnone {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%
}
.aligncenter {
    margin: 0.5rem auto;
    display: block
}
@media (min-width: 600px) {
    .alignleft:not(.wp-block-button) {
        margin-right: 0.5rem;
        float: left
    }
    .alignright:not(.wp-block-button) {
        margin-left: 0.5rem;
        float: right
    }
    .wp-block-button.alignleft a {
        float: left;
        margin-right: 1rem
    }
    .wp-block-button.alignright a {
        float: right;
        margin-left: 1rem
    }
}
.wp-caption {
    display: inline-block
}
.wp-caption img {
    margin-bottom: 0.5rem;
    line-height: 1
}
.wp-caption-text {
    font-size: 0.875rem;
    color: #4b5563
}
body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.wp-block {
    max-width: 1280px
}
.wp-block[data-align=wide] {
    max-width: 1280px
}
.wp-block[data-align=full] {
    max-width: 100%
}
.hover\:gap-3:hover {
    gap: 0.75rem
}
.hover\:bg-black:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}
.hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.hover\:bg-opacity-100:hover {
    --tw-bg-opacity: 1
}
.hover\:bg-opacity-50:hover {
    --tw-bg-opacity: 0.5
}
.hover\:bg-opacity-70:hover {
    --tw-bg-opacity: 0.7
}
.hover\:font-semibold:hover {
    font-weight: 600
}
.hover\:text-black:hover {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
}
.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.hover\:shadow-xl:hover {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.hover\:backdrop-blur-none:hover {
    --tw-backdrop-blur: blur(0);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.hover\:backdrop-blur-xl:hover {
    --tw-backdrop-blur: blur(24px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
@media (min-width: 600px) {
    .sm\:absolute {
        position: absolute
    }
    .sm\:bottom-10 {
        bottom: 2.5rem
    }
    .sm\:right-8 {
        right: 2rem
    }
    .sm\:aspect-\[9\/16\] {
        aspect-ratio: 9/16
    }
    .sm\:h-1\/5 {
        height: 20%
    }
    .sm\:h-4\/5 {
        height: 80%
    }
    .sm\:h-screen {
        height: 100vh
    }
    .sm\:w-1\/12 {
        width: 8.333333%
    }
    .sm\:w-1\/2 {
        width: 50%
    }
    .sm\:w-1\/3 {
        width: 33.333333%
    }
    .sm\:w-1\/4 {
        width: 25%
    }
    .sm\:w-1\/6 {
        width: 16.666667%
    }
    .sm\:w-3\/4 {
        width: 75%
    }
    .sm\:w-6 {
        width: 1.5rem
    }
    .sm\:flex-row {
        flex-direction: row
    }
    .sm\:items-start {
        align-items: flex-start
    }
    .sm\:items-end {
        align-items: flex-end
    }
    .sm\:gap-10 {
        gap: 2.5rem
    }
    .sm\:gap-20 {
        gap: 5rem
    }
    .sm\:bg-transparent {
        background-color: transparent
    }
    .sm\:bg-opacity-0 {
        --tw-bg-opacity: 0
    }
    .sm\:p-20 {
        padding: 5rem
    }
    .sm\:p-6 {
        padding: 1.5rem
    }
    .sm\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }
    .sm\:px-60 {
        padding-left: 15rem;
        padding-right: 15rem
    }
    .sm\:py-0 {
        padding-top: 0px;
        padding-bottom: 0px
    }
    .sm\:py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
    .sm\:text-start {
        text-align: start
    }
    .sm\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
    .sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
    .sm\:text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem
    }
    .sm\:text-xl {
        font-size: 1.25rem
    }
}
@media (min-width: 782px) {
    .md\:my-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem
    }
    .md\:flex {
        display: flex
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}
@media (min-width: 960px) {
    .lg\:min-h-screen {
        min-height: 100vh
    }
    .lg\:w-1\/2 {
        width: 50%
    }
    .lg\:w-1\/3 {
        width: 33.333333%
    }
    .lg\:w-1\/4 {
        width: 25%
    }
    .lg\:w-1\/5 {
        width: 20%
    }
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .lg\:flex-row {
        flex-direction: row
    }
    .lg\:flex-nowrap {
        flex-wrap: nowrap
    }
    .lg\:justify-between {
        justify-content: space-between
    }
    .lg\:gap-0 {
        gap: 0px
    }
    .lg\:gap-20 {
        gap: 5rem
    }
    .lg\:gap-10 {
        gap: 2.5rem
    }
    .lg\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }
    .lg\:px-40 {
        padding-left: 10rem;
        padding-right: 10rem
    }
    .lg\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
    .lg\:text-start {
        text-align: start
    }
    .lg\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
    .lg\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
    .lg\:text-xl {
        font-size: 1.25rem
    }
    .lg\:opacity-60 {
        opacity: 0.6
    }
    .lg\:backdrop-blur-xl {
        --tw-backdrop-blur: blur(24px);
        -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
                backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
    }
}
@media (min-width: 1280px) {
    .xl\:bottom-4 {
        bottom: 1rem
    }
    .xl\:h-\[600px\] {
        height: 600px
    }
    .xl\:w-1\/2 {
        width: 50%
    }
    .xl\:w-1\/5 {
        width: 20%
    }
    .xl\:w-10 {
        width: 2.5rem
    }
    .xl\:w-28 {
        width: 7rem
    }
    .xl\:w-96 {
        width: 24rem
    }
    .xl\:flex-row {
        flex-direction: row
    }
    .xl\:flex-row-reverse {
        flex-direction: row-reverse
    }
    .xl\:gap-20 {
        gap: 5rem
    }
    .xl\:p-20 {
        padding: 5rem
    }
    .xl\:p-40 {
        padding: 10rem
    }
    .xl\:p-8 {
        padding: 2rem
    }
    .xl\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .xl\:px-40 {
        padding-left: 10rem;
        padding-right: 10rem
    }
    .xl\:py-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem
    }
    .xl\:pl-10 {
        padding-left: 2.5rem
    }
    .xl\:pt-20 {
        padding-top: 5rem
    }
    .xl\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
    .xl\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
    .xl\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
    .xl\:text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem
    }
    .xl\:text-xl {
        font-size: 1.25rem
    }
}
@media (min-width: 1440px) {
    .\32xl\:h-\[750px\] {
        height: 750px
    }
    .\32xl\:w-\[25rem\] {
        width: 25rem
    }
    .\32xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .\32xl\:gap-10 {
        gap: 2.5rem
    }
    .\32xl\:gap-20 {
        gap: 5rem
    }
    .\32xl\:px-40 {
        padding-left: 10rem;
        padding-right: 10rem
    }
    .\32xl\:pl-14 {
        padding-left: 3.5rem
    }
    .\32xl\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }
    .\32xl\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
    .\32xl\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }
    .\32xl\:text-xl {
        font-size: 1.25rem
    }
}
