@font-face {
    font-family: "AgencyFB";
    src: url('../../fonts/AgencyFB.ttf');
}

@font-face {
    font-family: "Jost";
    src: url('../../fonts/Jost.ttf');
}

article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

html{
    @apply font-jost;
}

.not-open{
    @apply translate-x-[100vw] -translate-y-[100vh];
}

.button-menu-close{
    @apply gap-1 hover:gap-2;

    #square-1, #square-3{
        @apply translate-y-2;
    }

    #square-2{
        @apply -translate-y-2;
    }
}

.menu-a:hover{
    @apply -translate-y-2;

    .menu-a-image{
        @apply opacity-100;
    }

    .menu-a-border{
        @apply opacity-100;
    }

    .menu-a-title{
        @apply font-agencyfb;
    }
}

.swiper-pagination-bullet{
    background: black !important;
    border-radius: 0 !important;
}