@font-face {
    font-family: "AgencyFB";
    src: url('../../fonts/AgencyFB.ttf');
}

@font-face {
    font-family: "Jost";
    src: url('../../fonts/Jost.ttf');
}

article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

html{
    @apply font-jost;
}

.not-open{
    @apply translate-x-[100vw] -translate-y-[100vh];
}

.button-menu-close{
    @apply gap-1 hover:gap-2;

    #square-1, #square-3{
        @apply translate-y-2;
    }

    #square-2{
        @apply -translate-y-2;
    }
}

.menu-a:hover{
    @apply -translate-y-2;

    .menu-a-image{
        @apply opacity-100;
    }

    .menu-a-border{
        @apply opacity-100;
    }

    .menu-a-title{
        @apply font-agencyfb;
    }
}

.swiper-pagination-bullet{
    background: black !important;
    border-radius: 0 !important;
}

form{
    @apply flex flex-col gap-4;

    input, textarea{
        @apply p-2 border-[1px] border-black w-full;
    }

    input[type="checkbox"]{
        @apply w-fit;
    }

    input[type="submit"]{
        @apply w-full duration-300 bg-black bg-opacity-10 hover:bg-opacity-100 hover:text-white cursor-pointer;
    }
}

.invertido{
    img.blanca{
        @apply opacity-0;
    }

    .square{
        @apply bg-black;
    }
}

.scrolled{
    @apply bg-black sm:bg-transparent bg-opacity-25 sm:bg-opacity-0 backdrop-blur-xl sm:backdrop-blur-none shadow-xl sm:shadow-none;
}

#legal ul{
    @apply flex flex-col items-center justify-center text-center gap-4 font-agencyfb uppercase;
}